@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.team {
  background-color: #F5F4FA;
  padding-top: 91px;
  padding-bottom: 94px;
}
.team .container {
  width: auto;
}
.team__label {
  font-size: 38px;
  text-align: center;
  font-weight: 600;
}
.team__members {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(4, 0.25fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.team__member {
  max-width: 270px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  border-radius: 4px;
}
.team__member_profile-photo-container {
  display: flex;
}
.team__member_profile-photo-container img {
  width: 100%;
  height: 100%;
}
.team__member_name, .team__member_position {
  text-align: center;
  font-size: 17px;
}
.team__member_name {
  font-weight: 600;
  padding-top: 31.1px;
}
.team__member_position {
  padding-top: 9px;
}
.team__member_social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 23px;
  padding: 15px 32px 30px 32px;
}
.team__member_social a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.team__member_social a:hover {
  background-color: #2196F3;
  color: white;
}

@media screen and (max-width: 1090px) {
  .team {
    padding-top: 59px;
    padding-bottom: 60px;
  }
  .team__label {
    font-size: 29px;
  }
  .team__members {
    grid-template-columns: repeat(2, 0.5fr);
    justify-items: center;
    margin-top: 30px;
    row-gap: 30px;
  }
  .team__member {
    max-width: none;
  }
  .team__member_profile-photo-container {
    aspect-ratio: 1/1.053;
    overflow: hidden;
    justify-content: center;
  }
  .team__member_profile-photo-container img {
    width: 110%;
    height: 100%;
  }
  .team__member_social {
    padding: 13.9px 21% 24.8px 21%;
  }
}
@media screen and (max-width: 674px) {
  .team__members {
    grid-template-columns: repeat(1, 1fr);
  }
  .team__member_profile-photo-container {
    aspect-ratio: 1/1.02;
  }
  .team__member_social {
    padding: 13.9px 27% 24.8px 27%;
  }
}